      .cycle img {
        width:100%;
        height:auto;
      }
      .cycle #no-template-pager {
        font-family: Helvetica Neue;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding-top:10px;
      }

      .cycle a {
        color:#777;
        font-size:1em;
        padding-right:.6em;
      }
      .cycle a:link {text-decoration:none;color:#777;}
      .cycle a:visited {text-decoration:none; color:#777;}
      .cycle a:hover {text-decoration:none; color:black;}
      .cycle a:active {text-decoration:underline;}

       .cycle  .legend-title {
          text-align: left;
          margin-bottom: 8px;
          font-weight: bold;
          font-size: 90%;
        }
       .cycle  .legend-scale ul {
          margin: 0;
          padding: 0;
          float: left;
          list-style: none;
        }
       .cycle  .legend-scale ul li {
          display: block;
          float: left;
          width: 50px;
          margin-bottom: 6px;
          text-align: center;
          font-size: 80%;
          list-style: none;
        }
       .cycle  ul.legend-labels li span {
          display: block;
          float: left;
          height: 15px;
          width: 50px;
          border: 1px solid gray;
        }
       .cycle  .legend-source {
          font-size: 70%;
          color: #999;
          clear: both;
        }
      /* prev / next links */
      .cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
      .cycle-prev { left: 0;  background: url(left.png) 50% 50% no-repeat;}
      .cycle-next { right: 0; background: url(right.png) 50% 50% no-repeat;}
      .cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

